/* CSS Document */
*{
	margin:0px;
	padding:0;}
body{
	width:1000px;
	margin:0 auto;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background:url(../images/51.jpg) center no-repeat;}
.n{
	width:1000px;
	height:50px;
	margin-bottom:18px;
	margin-top:18px;}
.left{
	background: rgba(255,255,255,0.50);
	width:700px;
	height:500px;
	margin-bottom:18px;
	float:left;
	color:#000000;
	text-align:center;
	line-height:30px;
	font-size: 15px;
}
.right{
	width:280px;
	height:500px;
	margin-left:20px;
	margin-bottom:18px;
	float:right;
	font-weight: bold;
}
.s{
	text-align:center;
	width:1000px;
	height:auto;
	clear:both;
	color:#FBF8F8;}
#menu{
	width:1010px;
	margin:20px auto;
	background:rgba(0,0,0,0.51);
}
a{
	color:#ffffff;
	text-decoration:none;
	}
#menu ul{
	margin:0 auto;
}
#menu ul li{
	list-style:none;
	background:rgba(0,0,0,0.50);
	border:1px solid #C6C6C6;
	padding:9px 9.5px;
	border-bottom-width:5px;
	position:relative;
	float:left
	}
#menu ul li:hover{
	border-bottom-color:#29B0FB;	
	}
.m_li{
	background:#34D155;
	width:90.1px;
	float:left;
	list-style:none;
	height:19px;
	line-height:19px;
	text-align:center;
	}
.m_li:hover ul{
	display:block;
	background: rgba(255,255,255,0.50);
	color: black;
	float:left;
	}
.m_li ul{
	display: none;
	width: 290px;
	text-align: left;
	position: absolute;
	top: 41px;
	left: -2px;
}
.w{
	width: 270px;
	height: 10px;
	text-align: left;
	line-height: 10px;
	
}
.container {
    width: 300px; 
	margin: 20px auto;  
    zoom: 1;
    overflow: auto;
}

.news {
    border: 1px solid #000000;
    width: 280px; 
    margin: 5px;
    border-radius: 10px;
	color:#FF070B;
	background:rgba(255,255,255,0.50);
}

.news h3 {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    border: 1px solid #000000;
    background-color: #000000;
    padding: 5px 10px;
    border-radius: 10px 10px 0px 0px ;
}

.news ul {
    padding: 10px;
    font-size: 12px;
}

.news ul li {
    padding-left: 20px;
    background:0 -298px no-repeat; 
    height: 22px;
    line-height: 22px;
    list-style: none; 
    border-bottom: 1px dashed #1908F7;
}

.news ul li a {
    display: inline-block;
    width: 170px;
    color:#F80707;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.news ul li span {
    float: right;
}

.news ul li a:hover {
    color: #F00;
}

.news ul li:hover {
    background-color: #000000;
}

