        /*begin Endpage*/
       .wei1{  /*第一个框*/
           background-color: #4C4848;
           width: 1000px;
           height: 290px;
           position: relative;
       }
       .wei2{  /*第二个框*/
           background-color: #FBFBF7;
           width: 1000px;
           height: 290px;
           position: relative;
       }
       /*选择下载  的定位*/
       div.wei1 span{
           color: white;
           position: absolute;
           font-size: 1.1em;
           top: 30px;left: 425px;
       }
       /*二维码左边的线*/
       .d1{
           width: 1px;
           height: 150px;
           background-color:white;
           position: absolute;
           top: 60px;left: 45px;
       }
       /*二维码*/
       .d2{
           width: 150px;height: 150px;
           background-image: url("../img/code.png");
           background-repeat: no-repeat;
           background-size:150px 150px;
           position: absolute;
           top: 60px;left: 60px;
       }
       .wei1 .d3,.wei1 .d4{
           width: 140px;
           height: 140px;
           border-radius: 10px;
           position: absolute;
           top: 60px;
           background-repeat: no-repeat;
           background-size:140px 140px ;
       }
       /*安卓图标与定位*/
       .d3{
           background-image: url("../img/tan-2.png");
           right: 160px;
       }
       /*苹果图标与定位*/
       .d4{
           background: url("../img/tan-3.png") no-repeat;
           right: 5px;
       }
       div.d3:hover,div.d4:hover{
           cursor: pointer;
           box-shadow: 1px 2px 2px #fff;
       }
       div.rol-1{
           width: 800px;
           height: 45px;
           text-align: center;
			margin: 0 auto;
       }
       div.rol-1 div{
           display: inline-block;
           height: 45px;
       }
       /*关于读者 的字定位*/
       .d5{
           position: relative;
           bottom: 10px;
       }
       /* 5个图标的定位*/
       .d6{
           width: 250px;
           background-image: url("../img/listIcon.png");
           background-size: 250px 45px;
           margin-top: 20px;
       }
       /*朋友圈外面的世界 图 的定位*/
       .d7{
           width: 345px;
           height: 43px;
           background-image: url("../img/foot-word.png");
           background-repeat: no-repeat;
           background-size: 345px 35px;
           margin-left: 10px;
           position: relative;
           top: 10px;
       }
       /*最下面4个div字的颜色*/
       div.wei3 a{
           color: #000000;
       }
       div.wei3 a:hover{
           text-decoration: none;
       }
       /* "|"的 颜色*/
       div.wei3 span{
           color:red ;
       }
       /*最下面4个div的定位*/
       .wei3{

           width: 355px;
           margin: 40px auto 20px;
           /*position: absolute;*/
           /*top: 100px;left: 300px;*/
       }
       /*最下面3个p的定位*/
       .q1{
           text-align: center;
           font-size: 10px;
       }
       .wei4{
           /*position: absolute;*/
           margin: 0 auto;
       }
        /*end Endpage*/