@charset "utf-8";
/* CSS Document */

#Jay {
	position: absolute;
	width: 100%;
	z-index: 1;
	left: 0px;
	top: 0px;
}
#Jay #daohanglan {
	height: 70px;
	width: 100%;
	background-color: #313131;
}
#Jay #daohanglan #daohangzhongbu {
	height: 70px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
}
#Jay #daohanglan #daohangzhongbu #logo {
	height: 32px;
	width: 150px;
	padding-top: 19px;
	padding-left: 50px;
	float: left;
	font-family: "微软雅黑";
	font-weight: bolder;
	color: #FFF;
	font-style: italic;
	font-size: 25px;
}

#Jay #daohanglan #daohangzhongbu #my-daohanglan
{
	height: 60px;
	width: 360px;
	padding-top: 5px;
	padding-left: 85px;
	float: left;
	position: absolute;
	margin-left: 460px;
	font-family: "微软雅黑";
	font-size: 14px;
}

#Jay #daohanglan #daohangzhongbu #my-daohanglan ul li{ /*导航栏相关定义*/
	width:105px;
	height:49px;
	text-align:center;
	line-height:35px;
	float:left;
	list-style:none;
	margin-left:0px;
	padding:0px;
	list-style-type:none;
	background:#313131;

	
	}
#Jay #banner {
	height: 400px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	background-image: url(../images/banner01.jpg);
}
#Jay #banner:hover {

	background-image: url(../images/banner02.jpg);
}
#Jay #daohanglan #daohangzhongbu #my-daohanglan ul li ul{
	display:none;
	margin-left:0px;
	margin:0px;
	padding:0px;
	list-style-type:none;
	}
#Jay #daohanglan #daohangzhongbu #my-daohanglan ul li:hover ul{
	display:block;
	}
#Jay #daohanglan #daohangzhongbu #my-daohanglan ul li:hover{ /*导航栏高亮*/
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #cc00ff;
	}
	/*横向导航结束*/


#Jay #tuijian {
	height: 270px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}
#Jay #tuijian #tuijian01 {
	float: left;
	height: 270px;
	width: 290px;
}
#Jay #tuijian #tuijian01 #tuijiantu {
	height: 204px;
}
#Jay #tuijian #tuijian01 #tuijianwenzi {
	height: 66px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #282828;
	width: 290px;
}
#Jay #tuijian #tuijian02 {
	float: left;
	height: 270px;
	width: 290px;
	margin-left: 90px;
}
#Jay #tuijian #tuijian02 #tuijiantu2 {
	height: 204px;
}
#Jay #tuijian #tuijian02 #tuijianwenzi2 {
	height: 66px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #282828;
	width: 290px;
}
a.blue:link {
	color: #179acc;
	text-decoration: none;
}
a.blue:visited {
	text-decoration: none;
	color: #179acc;
}
a.blue:hover {
	text-decoration: none;
	color: #cc00ff;
}
a.blue:active {
	text-decoration: none;
}

a:link {
	color: #FFF;
	text-decoration: none;
}
a.black:link {
	color: #000000;
	text-decoration: none;
}
a.black:visited {
	text-decoration: none;
	color: #000000;
}
a.black:hover {
	text-decoration: none;
	color: #cc00ff;
}
a.black:active {
	text-decoration: none;
}

a:link {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FFF;
}
a:hover {
	text-decoration: none;
	color: #cc00ff;
}
a:active {
	text-decoration: none;
}
#Jay #xinwen {
	height: 360px;
	width: 1050px;
	margin-top: 35px;
	margin-right: auto;
	margin-left: auto;
	background-color: #fcfcfc;
	border: 1px solid #f1f1f1;
}
#Jay #xinwen #xinwenzi {
	float: left;
	height: 280px;
	width: 420px;
	margin-top: 40px;
	margin-left: 80px;
	font-family: "微软雅黑";
	font-size: 13px;
	color: #000;
	line-height: 39px;
}
#Jay #dibu {
	background-color: #313131;
	height: 80px;
	width: 100%;
	margin-top: 50px;
}
#Jay #dibu #dibuzhongbu {
	height: 80px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #FFF;
}#Jay #w1050 {
	height: 680px;
	width: 1050px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	font-family: "微软雅黑";
	font-size: 13px;
	color: #333;
	line-height: 35px;
}
.a-dazi {
	font-family: "微软雅黑";
	font-size: 28px;
	color: #333;
}
